.card{
    width: 300px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    margin-left: 600px;
    text-align: center;
}

button{
    padding: 10px 20px;
}
nav{
    text-align: center;
    
}
a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}